/* FULLSCREEN */
.leaflet-control-fullscreen {
  font-size: 20px;
}
.fullscreen #sidebar {
  display: none;
}
.fullscreen #map {
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: auto;
  height: auto;
  border: none;
}
.fullscreen #mapShadow {
  display: none;
}
